<div class="container-fluid vh-100  ">
  <div class="row justify-content-center mt-5 w-100">
    <div class="col-md-6 mt-5">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <div class="card-title text-center mb-5 mt-3">
            <h1>RECUPERA PASSWORD</h1>
          </div>
          <form #form_recupero="ngForm">
            <div *ngIf="!ceckEmail">
              <!-- INIZIO  Email -->
              <label for="email" class="pb-1"><span class="fw-semibold">E-mail </span><span class="text-black-50">*</span></label>
              <div class="input-group">
                <input type="text" id="email" class="form-control" name="email" placeholder="E-mail*"
                       appFormControl="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" [(ngModel)]="email"
                       (focus)="onInputFocusEmail()"

                       typeInput="email" required
                       #emailNgModel="ngModel" autocomplete="off"
                       [class.is-invalid]="((emailNgModel.touched || emailNgModel.dirty) && (emailNgModel.errors?.['invalidPattern']) || ( emailNgModel.errors?.['required'] &&  this.control_error['formControl']) || this.registerService.value_error_clone_email)">
              </div>
              <p class="text-danger p-0 pt-1  m-0 error-message"
                 *ngIf="(((emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.['invalidPattern']) || ( emailNgModel.errors?.['required'] &&  this.control_error['formControl']) || this.registerService.value_error_clone_email) ">
                {{ this.registerService.value_message_error_email }}
              </p>

            </div>

           <div *ngIf="ceckEmail">

              <!-- INIZIO  Password -->

              <label class="pb-2" for="password" >
                <span class="fw-semibold">Password </span>
                <span class="text-black-50">*</span>
              </label>

              <div class="pws">
                <input [type]="viewPasswordService.getPasswordType('password-register')" id="password"
                       class="form-control pass rounded-0 rounded-top"
                       name="password" placeholder="Password*" typeInput="password" required
                       [(ngModel)]="password" appPasswordControl #passwordNgModel="ngModel"
                       [class.is-invalid]="(passwordNgModel.touched || passwordNgModel.dirty) && passwordNgModel.errors?.['invalidPassowrd'] || ( passwordNgModel.errors?.['required'] && this.control_error['formControl'] )"
                       autocomplete="off">
                <fa-icon [icon]="viewPasswordService.getIcon('password-register')"
                         (click)="viewPasswordService.togglePasswordVisibility('password-register')"></fa-icon>
              </div>
               <div class="pws">
                <div
                *ngIf="(passwordNgModel.touched || passwordNgModel.dirty) || ( passwordNgModel.errors?.['required'] &&  this.control_error['formControl'] )"
                  class="progress rounded-0 rounded-bottom"
                  role="progressbar"
                  aria-label="Warning" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" [style.width.%]="registerService.value_percent_password"
                       [style.background-color]="registerService.color_progress()"></div>
                </div>
              </div>
              <!-- FINE  Password -->
             <p class="text-danger  m-0 error-message"
                   *ngIf="(passwordNgModel.touched || passwordNgModel.dirty) && passwordNgModel.errors?.['invalidPassowrd'] || ( passwordNgModel.errors?.['required'] &&  this.control_error['formControl'] ) ">{{ passwordNgModel.errors?.['massage_error'] }}
              </p>
              <!-- INIZIO Conferma Password -->
              <label class="pt-4 pb-2" for="confirm_password"><span class="fw-semibold">Conferma Password </span><span
                class="text-black-50">*</span></label>
              <div class="pws">
                <input [type]="viewPasswordService.getPasswordType('confirm_password')" id="confirm_password"
                       class="form-control pass" name="confirm_password" placeholder="conferma Password*" autocomplete="off"
                       ngModel #confirm_passwordNgModel="ngModel" required
                       [class.is-invalid]="((confirm_passwordNgModel.touched || confirm_passwordNgModel.dirty) && confirm_passwordNgModel.value !== passwordNgModel.value) || (this.control_error['formControl']&& confirm_passwordNgModel.errors?.['required']    )">
                <fa-icon [icon]="viewPasswordService.getIcon('confirm_password')"
                         (click)="viewPasswordService.togglePasswordVisibility('confirm_password')"></fa-icon>
              </div>
              <p class="text-danger pt-1 m-0 error-message"
                 *ngIf="confirm_passwordNgModel.value !== passwordNgModel.value ">
                Le password non coincidono!
              </p>
           </div>

            <p class=" text-danger mt-2"   [hidden]="!notTrovato || this.ceckEmail">Email inserita non é stata trovata!</p>
            <div class="d-flex pt-4 pb-5 justify-content-center align-items-center flex-column">
              <button class="mt-4 btn-primary btn w-75 py-2 text-center" (click)="newRecupero(form_recupero)"
                      type="submit">Recupera
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
