<div [style.background-image]="'url(assets/header.jpg)'" class="hero">
  <div class="container">
    <div class="row hero-container">
      <div class="col-lg-8 ">
        <div class="ms-2 ">
          <h1 class=" ms-md-4 text-hero fw-bold ">Elevate Your Code, Innovate Your Projects. </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center flex-column">
      <h1 class=" mt-5 "> PRIVACY KNOWLEDGE BASE </h1>
      <h6 class="mb-5 mt-4  text_color">È una base di conoscenza utile per: </h6>
    </div>
    <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
      <div class="card border shadow pb-2" style="width: 18rem; height: 100%;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <p class="card-text">Formalizzare le relazioni intercorrenti tra i 5 Key Element su cui si fonda l’approccio
            POSD</p>
        </div>
        <img [src]="'assets/POSD.png'" class="card-img-top">
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 d-flex justify-content-center">
      <div class="card shadow" style="width: 18rem; height: 100%;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <p class="card-text">Supportare le decisioni e le scelte in tutte le fasi del ciclo di vita del software</p>
        </div>
        <div class="d-flex justify-content-center align-items-center pb-2">
          <img [src]="'assets/ciclo.png'" class="card-img-top small-img">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4 d-flex justify-content-center ">
      <div class="card shadow" style="width: 18rem; height: 100%;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <p class="card-text">Operare sia su sistem su sistemi esistenti e nuovi, realizzando una navigazione tra i Key
            Element.</p>
        </div>
        <img [src]="'assets/taems.png'" class="card-img-top">
      </div>
    </div>
    <div class="text-center flex-column">
      <h1 class=" mt-5 "> GDPR (General Data Protection Regulation) </h1>
      <h6 class="mb-5 mt-4  text_color"><p class="col-8 mx-auto ">È Regolamento UE 2016/679, meglio conosciuto come GDPR
        (General Data Protection Regulation) Regolamento generale
        sulla protezione dei dati)</p>
      </h6>
    </div>

    <div class="card pt-2 mb-5 border-start-2">
      <div class="row flex-md-row flex-column">
        <div class="col-md-7">
          <div class="pt-2">
            <h5 class="card-title">Il regolamento si occupa di due argomenti:</h5>
          </div>
          <div class="card-body mt-4">
            <p class="card-text">
              <span class="fw-bold ">❑ La tutela delle persone con riguardo al trattamento dei dati</span> (viene
              ampliato il concetto di dato personale introducendo anche l’indirizzo IP ed i cookies in quanto lasciano
              una traccia che potrebbe ricondurre ad una persona fisica e viene altresì introdotta la categoria degli
              pseudoanonimi il cui utilizzo affievolisce gli obblighi in materia di protezione dei dati, in quanto il
              collegamento tra la persona fisica ed i suoi dati è meno diretto).
            </p>
            <p class="fw-bold">❑ La circolazione dei dati.</p>
          </div>
        </div>
        <div class="col-md-5 d-flex align-items-center justify-content-center">
          <img [src]="'assets/protectData.png'" class="card-img-top">
        </div>
      </div>
    </div>
    <div class="text-center flex-column">
      <h1 class=" mt-2 "> Design Strategies</h1>
      <h6 class="mb-5 mt-4  text_color"><p class="col-8 mx-auto ">
        La privacy by Design detta il “Cosa fare” per
        raggiungere un livello adeguato di protezione della
        privacy.
      </p>
      </h6>
    </div>


    <div class="col-md-6">
      <div class="card border-0">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1 fw-bold color_1 pb-3">
            1
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Minimizzazione<br></span>
            <span class="fw-lighter"> Restringere al minimo possibile l’insieme dei dati personali da trattare.</span>
          </div>
        </div>
      </div>
      <div class="card border-0 mt-4">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1 fw-bold color_3 pb-3">
            3
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Separazione<br></span>
            <span class="fw-lighter"> Gestire i dati personali separandoli, partizionandoli,
                      distribuendoli ed impedendo che le diverse partizioni possano essere
                      ricongiunte.</span>
          </div>
        </div>
      </div>
      <div class="card border-0 mt-4">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1 fw-bold color_5 pb-3">
            5
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Informazione<br></span>
            <span class="fw-lighter"> Massima disponibilità di informazioni sul trattamento
                di cui sono oggetto i dati personali, Trasparenza.</span>
          </div>
        </div>
      </div>
      <div class="card border-0 mt-4">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1 fw-bold color_7 pb-3">
            7
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Rafforzamento<br></span>
            <span class="fw-lighter"> Non limitarsi al rispetto formale degli obblighi di
                  legge, ma attuare strategie a rinforzo di tale rispetto.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6  mb-3">
      <div class="card border-0">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1 fw-bold color_2 pb-3">
            2
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Occultamento<br></span>
            <span class="fw-lighter"> Impedire ogni visione integrale dei dati personali.</span>
          </div>
        </div>
      </div>
      <div class="card border-0 mt-4">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1 fw-bold color_4 pb-3">
            4
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Aggregazione<br></span>
            <span class="fw-lighter"> Trattare i dati personali al massimo livello di
                      aggregazione possibile cioè con il minore grado di dettaglio possibile.</span>
          </div>
        </div>
      </div>
      <div class="card border-0 mt-4">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1  fw-bold color_6 pb-3">
            6
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Controllo<br></span>
            <span class="fw-lighter"> : Fornire agli utenti la possibilità di intervenire sui propri
                dati (in lettura, aggiornamento e cancellazione)
            </span>
          </div>
        </div>
      </div>

      <div class="card border-0 mt-4">
        <div class="row flex-sm-row flex-row align-items-center ps-5">
          <div class="col-md-2 ms-2 display-1 fw-bold color_8 pb-3">
            8
          </div>
          <div class="col-md-2 card-body">
            <span class="fw-bold">Dimostrazione<br></span>
            <span class="fw-lighter"> : Permettere al gestore del trattamento dei dati di
                dimostrare la corretta e la completezza della sua gestione
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center flex-column">
      <h1 class=" mt-2 "> Privacy by Design </h1>
      <h6 class="mb-5 mt-4  text_color"><p class="col-8 mx-auto ">
        Da cosa al come.
      </p>
      </h6>
    </div>
<div class="row justify-content-center ">
    <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
      <div class="card shadow" style="width: 18rem; height: 100%;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <p class="card-text">La privacy by Design detta il <br><span class="fw-bold text-danger text-center">Cosa fare</span> per raggiungere un livello adeguato di protezione della privacy</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img [src]="'assets/cosa.png'" class="card-img-top small-img_what">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
      <div class="card shadow" style="width: 18rem; height: 100%;">
        <div class="card-body d-flex justify-content-center align-items-center text-center">
          <p class="card-text">La Privacy Engineering fornisce una ipotesi sul  <span class="fw-bold text-danger ">Come farlo</span> , guardando alla privacy come attributo di qualità nell’ingegneria dei sistemi</p>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img [src]="'assets/come.png'" class="card-img-top small-img-come">
        </div>
      </div>
    </div>
    </div>
  </div>
</div>



