.form-control:focus {
  border-color: var(--primary);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(30, 122, 212, 0.6);

}

.pws {
  position: relative;
}

.pws .form-control {
  padding-right: 30px; /* Aggiungiamo spazio a destra per l'icona */
  background-color: transparent; /* Rendi l'input trasparente */
  z-index: 1; /* Assicurati che l'input sia sopra l'icona */
}

.pws fa-icon {
  position: absolute;
  right: 10px; /* Modifica questa parte per regolare la distanza tra l'icona e l'input */
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Assicurati che l'icona sia sopra l'input */
}

.progress {
    height: 10px; /* Altezza desiderata */
}

.progress-bar {
    height: 100%; /* Assicura che la barra di avanzamento occupi l'altezza completa della barra di progressione */
}

text-underline{
  text-decoration: underline;
}

.error-message {
  white-space: pre-wrap; /* Permette al testo di andare a capo */
  word-wrap: break-word; /* Rompe le parole per evitare l'overflow */
  overflow-wrap: break-word; /* Rompe le parole per evitare l'overflow */
  width: 100%; /* Assicura che l'elemento occupi tutta la larghezza disponibile */
  display: block; /* Imposta il display su block per evitare comportamenti imprevisti con d-flex */
  font-size: 1rem; /* Dimensione del testo predefinita */
}

.form-control.is-invalid.pass{
    background-image: none;
}

input{
  border-color: grey;
}

.card {
  max-width: 400px;
  margin: auto;
}

.card-body {
  padding: 2rem;
}

.select_type{
  border-color: grey !important;
}

.select_type_error{
  border-color: red !important;
}
