<div class="container-fluid vh-100  ">
  <div class="row justify-content-center mt-5 w-100">
    <div class="col-md-6 mt-5">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <div class="card-title text-center mb-5 mt-3">
            <h1>REGISTRATI</h1>
          </div>
          <form #form_register="ngForm">
            <label for="email" class="pb-1"><span class="fw-semibold">E-mail </span><span class="text-black-50">*</span></label>
            <div class="input-group">
              <input type="text" id="email" class="form-control" name="email" placeholder="E-mail*"
                     appFormControl="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" [(ngModel)]="email" (focus)="onInputFocusEmail()"
                     typeInput="email" required
                     #emailNgModel="ngModel" autocomplete="off"
                     [class.is-invalid]="((emailNgModel.touched || emailNgModel.dirty) && (emailNgModel.errors?.['invalidPattern']) || ( emailNgModel.errors?.['required'] &&  this.control_error['formControl']) || this.registerService.value_error_clone_email)">
            </div>
            <p class="text-danger p-0 pt-1  m-0 error-message"
               *ngIf="(((emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.['invalidPattern'])|| ( emailNgModel.errors?.['required'] &&  this.control_error['formControl'] )  || this.registerService.value_error_clone_email)  ">
              {{ this.registerService.value_message_error_email }}
            </p>

            <label for="username" class="pb-2 "
                   [ngClass]="(emailNgModel.errors?.['invalidPattern']) && (emailNgModel.touched || emailNgModel.dirty) ? 'pt-2': 'pt-4'"><span
              class="fw-semibold">Username </span><span
              class="text-black-50">*</span></label>
            <div class="input-group">
              <input type="text" id="username" class="form-control" name="username" typeInput="username" (focus)="onInputFocusUsername()"
                     placeholder="Username*" required
                     appFormControl="^[a-z]\.[a-z]+[1-9]$" [(ngModel)]="username" #usernameNgModel="ngModel"
                     [class.is-invalid]="((usernameNgModel.touched || usernameNgModel.dirty) &&  usernameNgModel.errors?.['invalidPattern'] || ( usernameNgModel.errors?.['required'] &&  this.control_error['formControl']) || this.registerService.value_error_clone_username)"
                     autocomplete="off">
            </div>

            <p class="text-danger pt-1 m-0 error-message"
               *ngIf="((usernameNgModel.touched || usernameNgModel.dirty) && usernameNgModel.errors?.['invalidPattern'] || ( usernameNgModel.errors?.['required'] &&  this.control_error['formControl'] ) || this.registerService.value_error_clone_username) ">
              {{ this.registerService.value_message_error_username }}
            </p>
             <label class="pb-2" for="password"
                   [ngClass]="(usernameNgModel.touched || usernameNgModel.dirty) && usernameNgModel.errors?.['invalidPattern']? 'pt-2': 'pt-4'"><span
              class="fw-semibold">Password </span><span
              class="text-black-50">*</span></label>
            <div class="pws">
              <input [type]="viewPasswordService.getPasswordType('password-register')" id="password"
                     class="form-control pass rounded-0 rounded-top"
                     name="password" placeholder="Password*" typeInput="password" required
                     [(ngModel)]="password" appPasswordControl #passwordNgModel="ngModel"
                     [class.is-invalid]="(passwordNgModel.touched || passwordNgModel.dirty) && passwordNgModel.errors?.['invalidPassowrd'] || ( passwordNgModel.errors?.['required'] && this.control_error['formControl'] )"
                     autocomplete="off">
              <fa-icon [icon]="viewPasswordService.getIcon('password-register')"
                       (click)="viewPasswordService.togglePasswordVisibility('password-register')"></fa-icon>
            </div>
            <div
              *ngIf="(passwordNgModel.touched || passwordNgModel.dirty) || ( passwordNgModel.errors?.['required'] &&  this.control_error['formControl'] )"
              class="progress rounded-0 rounded-bottom"
              role="progressbar"
              aria-label="Warning" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [style.width.%]="registerService.value_percent_password"
                   [style.background-color]="registerService.color_progress()"></div>
            </div>
            <pre class="text-danger pt-2 m-0 error-message"
                 *ngIf="(passwordNgModel.touched || passwordNgModel.dirty) && passwordNgModel.errors?.['invalidPassowrd'] || ( passwordNgModel.errors?.['required'] &&  this.control_error['formControl'] ) ">{{ passwordNgModel.errors?.['massage_error'] }}</pre>
            <label class="pt-4 pb-2" for="confirm_password"><span class="fw-semibold">Conferma Password </span><span
              class="text-black-50">*</span></label>
            <div class="pws">
              <input [type]="viewPasswordService.getPasswordType('confirm_password')" id="confirm_password"
                     class="form-control pass" name="confirm_password" placeholder="conferma Password*" autocomplete="off"
                     ngModel #confirm_passwordNgModel="ngModel" required
                     [class.is-invalid]="((confirm_passwordNgModel.touched || confirm_passwordNgModel.dirty) && confirm_passwordNgModel.value !== passwordNgModel.value) || (this.control_error['formControl']&& confirm_passwordNgModel.errors?.['required']    )">
              <fa-icon [icon]="viewPasswordService.getIcon('confirm_password')"
                       (click)="viewPasswordService.togglePasswordVisibility('confirm_password')"></fa-icon>
            </div>
            <p class="text-danger pt-1 m-0 error-message"
               *ngIf="confirm_passwordNgModel.value !== passwordNgModel.value ">
              Le password non coincidono!
            </p>
              <label class="pt-4 pb-2" for="rule" ><span class="fw-semibold">Ruolo </span><span
              class="text-black-50">*</span></label>
            <div class="dropdown">
              <button id="rule" (click)=" filtraRuolo()" class="btn bg-white  border border-1 w-100 text-start " [ngClass]="(this.control_error['error_form_selected']  && this.control_error['formControl']) ? 'select_type_error' : 'select_type'"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{this.rule_input}} <span class="dropdown-toggle position-absolute me-3 end-0 "></span>
              </button>
              <ul class="dropdown-menu w-100" [ngClass]="{'show': this.clickable}">
                <li><a class="dropdown-item" (click)="selectItem('Azienda')">Azienda</a></li>
                <li><a class="dropdown-item" (click)="selectItem('Sviluppatore')">Sviluppatore</a></li>
              </ul>
            </div>
              <p class="text-danger pt-1 m-0 error-message"
               *ngIf="this.control_error['error_form_selected']  && this.control_error['formControl']">
                Non hai selezionato nessun ruolo!
            </p>
                <div *ngIf="this.rule_input === 'Azienda'">
                  <label for="nomeazienda" class="pt-4 pb-2"><span class="fw-semibold">Nome Azienda</span><span class="text-black-50">*</span></label>
                <div class="input-group">

                  <input type="text" id="nomeazienda" class="form-control" name="nomeazienda" placeholder="Nome Azienda*" required [(ngModel)]="nomeazienda" #nomeaziendaNgModel="ngModel"
                         [class.is-invalid]="((nomeaziendaNgModel.touched || nomeaziendaNgModel.dirty) || this.control_error['formControl'] ) && nomeaziendaNgModel.errors?.['required']" autocomplete="off" >
                </div>
                <div *ngIf="((nomeaziendaNgModel.touched || nomeaziendaNgModel.dirty) || this.control_error['formControl'] ) && nomeaziendaNgModel.errors?.['required']" class="text-danger">
                      Il nome dell' azienda non deve essere vuoto!
                </div>
                <label for="ptiva" class="pt-4 pb-2"><span class="fw-semibold">Partita IVA</span><span class="text-black-50">*</span></label>
                <div class="input-group">
                  <input type="text" id="ptiva" class="form-control" name="ptiva" placeholder="Partita IVA*"  appFormControl="^[0-9]{11}$" typeInput="ptiva" required [(ngModel)]="ptiva" #ptivaNgModel="ngModel"

                         [class.is-invalid]="((ptivaNgModel.touched || ptivaNgModel.dirty) ||this.control_error['formControl'] ) && (ptivaNgModel.errors?.['required'] || this.registerService.value_error_partitive)" autocomplete="off">
                </div>
                <div *ngIf="((ptivaNgModel.touched || ptivaNgModel.dirty) ||this.control_error['formControl'] ) && (ptivaNgModel.errors?.['required'] || this.registerService.value_error_partitive)" class="text-danger">
                  {{this.registerService.value_message_error_partitive}}
                </div>
              </div>
               <div class="d-flex pt-4 pb-5 justify-content-center align-items-center flex-column">
              <button class="mt-4 btn-primary btn w-75 py-2 text-center" (click)="newRegister(form_register)"
                      type="submit">Registrati
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

