.card {
  max-width: 400px;
  margin: auto;
}

.card-body {
  padding: 2rem;
}

.input-group {
  margin-bottom: 1rem;
}

.error {
  display: none;
}

form.ng-invalid.ng-touched .error {
  display: block;
}

.forget{
  color: var(--secondary)
}

.pws {
  position: relative;
}

input{
  border-color: grey;
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(30, 122, 212, 0.6);

}

.pws .form-control {
  padding-right: 30px; /* Aggiungiamo spazio a destra per l'icona */
  background-color: transparent; /* Rendi l'input trasparente */
  z-index: 1; /* Assicurati che l'input sia sopra l'icona */
}

.pws fa-icon {
  position: absolute;
  right: 10px; /* Modifica questa parte per regolare la distanza tra l'icona e l'input */
  top: 50%;
  transform: translateY(-50%);
  z-index: 2; /* Assicurati che l'icona sia sopra l'input */
}


