.btn.btn-outline-success{
  color: dodgerblue;
  border-color: dodgerblue;
}
.btn-outline-success:hover{
  color: white;
  background: dodgerblue;
  border-color: dodgerblue;
}
.btn-outline-success:focus{
  background: dodgerblue;
  color: white;
  border-color: dodgerblue;
}

.nav-shadow{
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 22%);
}

.link-size{
  font-size: 16px;
}

.navbar .navbar-toggler:focus{
 color: var(--primary);
  font-size: 1em;
}

.lexy_logo{
  letter-spacing: 20px;
  font-family: "Paytone One", sans-serif;
  font-size :35px;
}

 .hr-link {
    border-color: grey;
    border-width: 3px ;
    width: 40px;
  }


  .navbar-nav .nav-item {
    margin-right: 28px; /* Imposta il margine destro tra gli elementi li */
  }


.white-color {
  color: white !important; /* Cambia il colore in bianco */
  border-color: white;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.nav-shadow.navbar-home {
  background-color: transparent !important; /* Imposta il colore di sfondo trasparente */
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color:white;
}

.form-control:focus {
  border-color: var(--primary);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(30, 122, 212, 0.6);
}

.name{
  font-size: smaller;
}

.color_menu{
  color: gray;
}


